<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>
        <ion-icon name="list-box"></ion-icon>
        Product
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Meat
    </ion-list-header>
    <ion-item>
      <ion-grid>
        <ion-row justify-content-between align-items-center>
            <ion-col col>Beef</ion-col>
            <ion-col col style="right:0;">
                <ion-button >
                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
                <ion-button color="danger">
                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

     <ion-item>
      <ion-grid>
        <ion-row justify-content-between align-items-center>
            <ion-col col>Steack</ion-col>
            <ion-col col>
                <ion-button >
                    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
                </ion-button>
                <ion-button color="danger">
                    <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
</ion-content>
